@import "tailwindcss";

/* NOTES:

- v4 means that you only need the @theme to apply custom themes. 
- most chatgpt and online tutorials are outdated and don't reflect this
- don't need the postcss or tailwind config files! don't need those postcss dependencies!
*/

@layer base {
    .test-class {
        @apply underline text-red
    }

    .nav-padding {
        @apply px-20 pt-10
    }

    .proj-desc-wrapper {
        @apply flex flex-row gap-10 pb-10;
    }

    .desc-title {
        @apply w-[20%];
    }

    .desc-body {
        @apply w-[80%];
    }
}

@theme { --color-red: #006609; }

@theme { --text-large: 100px; }

html {
    overflow: auto;
}

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: lightgrey #f1f1de;
    background: #f1f1de;
}

/* TYPOGRAPHY HIERARCHY */
h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 20px;
}